.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.days-of-week {
  flex-basis: calc(100% / 7);
}

.third-row {
  align-items: center;
}
