table {
  border-collapse: separate;
  width: 100%;
}

td {
  text-align: left;
}

thead {
  background-color: #333;
  color: #fff;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: lightgray;
}

.days-of-week > button {
  border-color: 1px solid black;
  background-color: white;
  width: 5rem;
  height: 4rem;
  margin: 10px;
}
